#category-banner{
        position: relative;
        position: relative;
        height: 400px;
        background-image: linear-gradient(to left, #00A5C4 0%, #003859 100%);;
        overflow: hidden;
       &img{
        top: 10%;
        right: 20%;
      }
       h2{
        width: 200px;
        font-size: 65px;
        margin: 50px 10px;
        border-bottom: 3px solid white;
      }
      
}